.container{
	display: grid;
	grid-template-columns: 50% auto;
}
.col{
	padding : .4em 1.3em; 
}
.containerFirst{
	background: #2885C4;
}

.formWidth{
    width: 46%;
    margin-left:33%;
    height: 42px;
    border-radius: 9px;
    padding-left: 8px;
}
.TextLab{
    width:5%;
}
.container-filed{
    background: lightblue !important;
}
.nameTxt{
    margin-left:33% !important;
    padding-left:8px;
}
.emailTxt{
    margin-left: 398px !important;
    padding-left:8px;
}
.genderText{
    margin-left: 33%;
    margin-top: 23px;
    padding-left:8px;
}
.HobbiTxt{
    margin-left:33%;
    padding-left:8px;
}

.cuntryText{
    width: 26%;
    margin-left: 398px !important;
    height: 47px;
    border-radius: 9px;
    padding-left:8px;
    margin-top: 15px;
}
.textLabel{
    position :absolute;
    margin-left: 17%;
    color:whitesmoke;
}
input.regBtn{
    width: 17%;
    border: 0;
    display: block;
    padding: 1em 3em;
    background: #A5F883;
    color: #003A61;
    margin-bottom: 1em;
    cursor: pointer;
    margin-left: 43%;
    border-radius: 15px;
    height: 65px;
}
.containerBody{
    margin-top: 2%;
    width: 85%;
    background: #2885C4;
    margin-left: 8%;
    height: 100%;
    border-radius: 65px;
}
.mainHead{
    padding-top:6%;
    margin-left:40%;
    color:whitesmoke;
    font-size: 21px;
    
}
.listReg{
    background: #74ceec;
    height: 62px !important;
}
.textG1{
    margin-top: -12px;
}
.subContainer{
    padding-top: 44px;
}
.ListForm{
    
     margin-top: 47px !important;
     text-align: center !important;
     margin-left: 9%; 
}
input.editfom{
    height: 29px;
    width: 64px;
    margin-top: 16px;
    margin-left: 48px;
}
.deletefom{

    margin-left: 14px;
    width:64px;
    height: 29px;
    background: #d06a74;
    color:white;
}
.FORMValid{

}
.CheckText{
    margin-left: 408px;
    margin-top:21px;
}
.ContryLab{
    margin-top:21px;
}
.hobbiLab{
    margin-top:9px;

}
.Regvalidate{
    margin-left: 35%;
}