
<form  #f="ngForm"  name="form"  novalidate> 
    
  <div class="mainHead"><h1><b> Registraion Form</b></h1></div> 

   <div class="containerBody">
      <div class="subContainer">


            <div>
            <label for = "nameVal" class="textLabel"><h3>Name </h3></label>
                <input type="text" class="form-control nameTxt  formWidth" placeholder = "Enter Name " name="firstNameVal" [(ngModel)]="name" #nameVal="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && nameVal.invalid }" required minlength="3" />
                <div *ngIf="f.submitted && nameVal.invalid" class="invalid-feedback">
                    <div class="Regvalidate" *ngIf="nameVal.errors.required">Name is required</div>
                    <div class="Regvalidate" *ngIf="nameVal.errors.minlength">Name must be at least 3 characters</div>
                </div>
            </div>
            <br>

    
        <div >
            <label for = "emailVal" class="textLabel"><h3>Email </h3></label>
            <input type="text" class="form-control nameTxt  formWidth" placeholder = "Enter email " name="emailVal" [(ngModel)]="email" #emailVal="ngModel" [ngClass]="{ 'is-invalid': f.submitted && emailVal.invalid }"
                required email/>
            <div *ngIf="f.submitted && emailVal.invalid" class="invalid-feedback">
                <div class="Regvalidate" *ngIf="emailVal.errors.required">Email is required</div>
                <div class="Regvalidate" *ngIf="emailVal.errors.email">Email must be a valid email address</div>
            </div>
        </div>
        <br>


      
            <div>
                <label for = "phoneVal" class="textLabel"><h3>Phone </h3></label>
                <input type="text" class="form-control nameTxt  formWidth" placeholder= "Enter phone number" pattern="^[0-9_-]{10}$" name="phoneVal" [(ngModel)]="phone"
                #phoneVal="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phoneVal.invalid }" required
                />
                <div *ngIf="f.submitted && phoneVal.invalid" class="invalid-feedback">
                    <div class="Regvalidate" *ngIf="phoneVal.errors.required">Phone number is required</div>
                 <div class="Regvalidate" *ngIf="phoneVal.errors.minlength">Min length needed</div> 
                    <div class="Regvalidate" *ngIf="phoneVal.errors.pattern">Invalid phone number</div>
                </div>
            </div>
            <br>


       
        <div>
            <label for = "phone" class="textLabel textG1"> <h3>Gender</h3>  </label> 
            <div class="genderText">
              <input type="radio" [(ngModel)]="gender" name="gender" value="male" checked> Male
              <input type="radio" [(ngModel)]="gender" name="gender" value="female"> Female<br>  
             </div>
        </div>
        <br>


 
      <div>
          <label class=" textLabel ContryLab"> <h3>Country</h3> </label>
          <select class="cuntryText" name="country" [(ngModel)]="country">
              <option value="India">India</option>
              <option value="Brazil">Brazil</option>
              <option value="Canada">Canada</option>
              <option value="China">China</option>
              <option value="Australia">Australia </option>
              <option value="Indonesia">Indonesia</option>
              <option value="Mexico">Mexico</option>
      
          </select>
      </div>
      <br>

    
      <div>
          <label for = "addressVal" class="textLabel"><h3>Address </h3></label>
          <input name="addressVal" class="form-control nameTxt  formWidth" placeholder = "Enter address "  [(ngModel)]="address"  #addressVal="ngModel" [ngClass]="{ 'is-invalid': f.submitted && addressVal.invalid }" required>
          <div *ngIf="f.submitted && addressVal.invalid" class="invalid-feedback">
              <div class="Regvalidate" *ngIf="addressVal.errors.required">Address is required</div>
          </div>
      </div>
      <br>




     <div class="row">
         <div class="col ">
             <h3 class="hobbiLab">Please select your hobby</h3>
         </div>
         <div class="col">
          <label for = "phone" class="OptionCheck" *ngFor="let hobby of myHobbies;let i =index"> 
              <input  type="checkbox" [checked]="checkedStatus(hobby)" name="hobby" (change)="selectedHobies(hobby.name,$event,i)" /> {{hobby.name}}
          </label>
          </div>
      </div>
      <br>




      <div *ngIf="editMode=='false'">
          <input type="submit" class="regBtn "   value="Register"  (click)= "addRegItem(f)">
      </div>
      <div *ngIf="editMode=='true'">
            <input type="submit" class="regBtn "   [value]="UpdateText"  (click)= "Update(f)">
        </div>



      </div>
   </div>


   <div class="spacer-60"></div>

<div class="ListForm  " *ngIf="RegisterList.length>0">
  
   <table *ngIf="RegisterList.length>0">
              <thead class="mainHead" >
              
									<th width="10%">Name</th>
									<th width="10%">Email</th>
									<th width="10%">Phone</th>
									<th width="10%">Gender</th>
									<th width="10%">Country</th>
                                    <th width="10%">Address</th>
                                    <th width="10%">Hobbies</th>
                                    <th Width="10">Choice</th>
									
                </thead>

    <tr class="spacer-60"></tr>



     <tbody>
        <tr class="listReg "   *ngFor=" let user of RegisterList;let i = index">
            <td>{{ user.name}}</td>
            <td >{{ user.email }}</td>
            <td >{{ user.phone }}</td>
            <td >{{ user.gender }}</td>
            <td >{{ user.country }}</td>
            <td >{{ user.address }}</td>
            <td ><p *ngFor="let myhobby of user.hobbies">{{ myhobby }},</p></td>
            <td>
              <ul>
                <li>
                 
                  <input type="submit" class="editfom btn-info"   value="Edit"  (click)="editRegItem(i)">

                  <input type="submit" class="deletefom "   value="Delete"  (click)="deleteRegItem(i)">

                </li>
              </ul>
            </td>
          </tr>
    </tbody>
  </table>  
</div>
</form>


