.signupfield{
    margin-top: 107px;
}
.SignName{
    font-family: cursive !important;
    margin-left: -102px !important;
    color: white !important;
    font-weight: bold !important;
    position: absolute !important;
    font-size: 21px !important; 
}
.inputSign{
    width: 77%;
    height: 45px;
    margin-left: 51px;
    background: #efefef !important;
    /* color: #a53535 !important; */
    border-radius: 15px;
}
.signBtn{
    margin-top: 31px;
    background: aqua;
    margin-left: 134px;
    height: 58px;
    width: 121px;
    border-radius: 24px;
}
.validSingn{
    margin-left: 13%;
}