/* You can add global styles to this file, and also import other style files */
//@import url('http://fonts.googleapis.com/css?family=Raleway:300,500');
body{
	// background:#20B2AA!important;
	background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
	padding : 3em;
	font-family: 'Raleway' ,'Arial';
	color : #fff;
}
ul {
	list-style-type: none;
	margin: 0 0 2em 0;
	padding:0;
}
ul li{
	display : inline;
	margin-right:30px;
}
ul li a{
	font-weight: bold;
    font-size: 1.7em;
    font-family: serif;

}
a{
	color:#fff;
	text-decoration:none;
}
.navColor{
	
	background: #e1e1efa1;
    height: 76px;
    border-radius: 17px;
    font-size: 16px;
}
.black{
	color:black;
	padding-left:5%;
}
.mainPro{
	font-size: 29px !important;
	font-family: cursive !important;
    font-weight: bold;
}
.singLeft{
	
}