<html>


<p class="visual">Visual Goal Setting for Success...</p>


<div class="FeildSet">
<div class= "FirstField">
		<div class="col">
				<h3>Share Your Goals</h3>
		</div>
		<div class="col">
			<p>Your bucket list ({{ itemCount }})  </p>
		</div>
	</div>
	
	<div class= "SecondField">
		<div class="col paddingList">
			<p class="sm"> Use this form below to add your goals.What do you want to do?</p>
			<form>
				<input type="text" name="item" class="txt" placeholder="Life goals"  [(ngModel)]="goalText" >
				<input type="submit" class="btn" [value]="btnText"  (click)= "addItem()">
	
			</form>
		</div>
		<div class="col">
			{{goals}}
			<p class="life-container"  *ngFor=" let goal of goals; let i = index" (click)="removeItem(i)">{{ goal }}</p>
			
		
		</div>
	</div>
 </div>
</html>