.container{
	display: grid;
	grid-template-columns: 50% auto;
}
.col{
	padding : .4em 1.3em; 
}
.FirstField{
	background: #2885C4 !important;
    width: 84%;
    margin-left: 10%;
    margin-top: 64px;
}
.SecondField{
	background : #57B3F1 !important;
	width: 84%;
	margin-left: 10%;
}
input.txt {
	border:0;
	padding: 1em;
	width: 80%;
	margin-bottom: 2em;
}
input.btn{
	border: 0;
    display: block;
    padding: 1em 3em;
    background: #A5F883;
    color: #003A61;
    margin-bottom: 1em;
    cursor: pointer;
    border-radius: 15px;
    height: 62px;
    margin-left: 36%;
}

.life-container{
	background: #3FA0E1;
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
    width: 54%;
    margin-left: 17%;
}

