<html>
<!-- 
<style>
body{
	background-image: url("E:\MynewAngular5\Angular5\src\assets\Images\pexels-photo-248797.jpeg");
}	
</style> -->





<style type="text/css">

    body {
      background-image:url('');
      width: 100%;
      height: 100%;
    }

</style>








			<!-- <div  
			class="navbar navbar-inverse" 
			class="jumbotron text-center"
			class ="text-primary">
			<h1  class="text-info">  My First Page  </h1>
		<button type="button" class="btn btn-success">Button1</button>
		<button type="button" class="btn btn-success">Button2</button>
		<button type="button" class="btn btn-success">Button3</button>
	</div> -->
	

	


<div class= "FirstField">
		<div class="col">
				<h3>Add a bucket list item</h3>
		</div>
		<div class="col">
			<p>Your bucket list ({{ itemCount }})  </p>
		</div>
	</div>
	
	<div class= "SecondField">
		<div class="col paddingList">
			<p class="sm"> Use this form below to add your bucket list goal.What do you want to do?</p>
			<form>
				<input type="text" name="item" class="txt" placeholder="Life goals"  [(ngModel)]="goalText" >
				<input type="submit" class="btn" [value]="btnText"  (click)= "addItem()">
	
			</form>
		</div>
		<div class="col">
			{{goals}}
			<p class="life-container"  *ngFor=" let goal of goals; let i = index" (click)="removeItem(i)">{{ goal }}</p>
			
		
		</div>
	</div>
 
</html>